.container{
    border: 2px solid white;
    background-color: blue;
    color: white;
    border-radius: 20px;
    width: 25%;
    height: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
  
}



