.container{
    border: 2px solid blue;
    border-radius: 20px;
    width: 25%;
    height: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}